@font-face{
	font-family: thefont;
	src:url(UtopiaStd-BlackHeadline.otf);
}
#ayorender_logo{
	font-family:thefont;
}
.square{
	position:relative;
	height: 100px;
    width: 100px;
    border-radius: 50%;
    border:5px solid black;
    top:105px;
    left:35px;
    z-index:-1;
}
.square1{
	position:relative;
	height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color:white;
    top:30px;
    right:50px;
    z-index:-1;
}
#ayorender_text{
	font-size:32px;
	z-index:1;
}